body{
    font-family: 'Bona Nova', serif;
    font-family: 'El Messiri', sans-serif;
}
.ukr{
    display: block;
}
.eng{
    display: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header-container{
    background: #162831;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.hamburger{
    display: none;
}

/* .menu-overlay{
    display: none;
} */

.main-color{
    background: #162831;
}

.header{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select{
    background: none;
    border: 1px solid white;
    color: white;
    padding: 5px ;
}

.nav_li{
    display: inline-block;
}
.nav_li:not(:last-of-type){
    margin-right: 50px;
}

.nav_li > a{
    text-decoration: none;
    color: white;
}
.button{
    width: 155px;
    height: 36px;
    border: none;
    border-radius: 3px;
}
.blue_button{
    background: #018ABE;
    color: white;
    transition: 0.5s;
}
.blue_button:hover{
    background: white;
    color: #018ABE;
    cursor: pointer;
}
.main-color > div{
    padding: 25px 0;
}
.main-photo{
    background-image: url('./img/unsplash_S-llxYh3GzI.png');
    padding: 138px 0 ;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    border-radius: 6px;
}
.main-photo_p{
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 40px;
    color: white;
}
.main-photo_h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    text-align: center;
    color: white;
}
.seans-ritmstyle{
    padding: 50px 0;
}
.heading-text{
    font-weight: 700;
    font-size: 42px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    padding: 100px 0;
    font-family: 'EL Messiri';

}

.heading-text::before{
    content: url('./img/decor-heading-text-before.svg');
    margin-right: 40px;
}
.heading-text::after{
    content: url('./img/decor-heading-text-after.svg');
    margin-left: 40px;
}

.seans-ritmstyle-grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 530px;
}
     

.seans-ritmstyle-grid > div{
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.seans-ritmstyle-grid > div:first-child{
    background-image: url('./img/seans-vertically.svg');
    grid-row: span 2;
}
.seans-ritmstyle-grid > div:not(:first-child){
    background-image: url('./img/seans-hori.svg');
}

.snip1584 {
  font-family: 'Raleway', sans-serif;
  position: relative;
  color: #018ABE;
  font-size: 16px;
}
.snip1584 * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}
.snip1584:before {
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  top: 100%;
  content: '';
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.45s ease;
  transition-delay: 0.25s;
  border-radius: 10px;
}
.snip1584 img {
  max-width: 100%;
}
.snip1584 p{
    max-width: 330px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    position: absolute ;
    bottom: 30px;
    left: 30px;
    color: #FFFFFF;
    opacity: 1;
    transition-delay: 0.35s;

}

.snip1584 div:last-child{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  right: 40px;
  z-index: 1;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.snip1584 h3,
.snip1584 h5,
.snip1584 button {
  margin: 0;
  opacity: 0;
}
.snip1584 h3 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}
.snip1584 h5{
    margin-bottom: 20px;
}

.snip1584:hover:before,
.snip1584.hover:before {
  top: 10px;
  transition-delay: 0s;
}
.snip1584:hover h3,
.snip1584.hover h3,
.snip1584:hover h5,
.snip1584.hover h5,
.snip1584:hover button {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.snip1584:hover h3,
.snip1584.hover h3 {
  transition-delay: 0.2s;
}
.snip1584:hover h5,
.snip1584:hover h5 {
  transition-delay: 0.3s;

}

.snip1584:hover button{
    transition-delay: 0.4s;
}

.snip1584:hover p{
    opacity: 0;
    transition-delay: 0ms;
}
.slider{
    padding-bottom: 30px;
}

.comment{
    width: 636px;
    max-height: 350px;
    background: #018ABE;
    padding: 40px 40px;
    border-radius: 10px;
    margin: 0px 50px;
}

.comment > h6 {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.comment > p{
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    
}

.slick-dots {
    bottom: -55px;
}
.slick-dots li:not(:last-child) {
    margin-right: 20px;
    border-radius: 3px;
}
.slick-dots li button {
    padding: 0px;
    width: 16px;
    height: 16px;
    opacity: 0.4;
    border-radius: 3px;
    transition: 0.3s;
}
.slick-dots li button:before {
    font-family: slick;
    font-size: 0px;
}

.slick-dots li button:hover{
    opacity: 1;
    transition: 0.3s;
}

.slick-dots li button:focus{
    opacity: 1;
}

.inform-background{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inform-text{
    max-width: 600px;
    padding: 40px;
    line-height: 150%;
} 

.about-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-flex:first-of-type{
    margin-bottom: 100px;
}

.about-text{
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    max-width: 450px;
    opacity: 0.8;
}

.about-text > p:first-of-type{
    padding-bottom: 20px;
}

.about-text_title{
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    padding-bottom: 20px; 
}

.price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-list{
    width: 350px;
}

.price-list_elem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-list_elem:not(:last-of-type){
    margin-bottom: 30px;
}

.price-pict_text{
    font-weight: 700;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 30px;
}

.regist-label{
    color: white;
    font-size: 26px;
    padding: 30px 0 10px;
}

.regist-input{
    width: 100%;
    padding: 10px 0 10px 10px;
    font-size: 22px;
    outline:none;
}

.modal-bg .select{
    width: 100%;
    padding: 15px;
    font-size: 22px;
    margin: 30px 0;
}

.modal-buttons .button{
    width: 100%;
    height: 55px;
    font-size: 26px;
    text-align: center;
}

.main-bth{
    width: 100%;
    height: 60px;
    font-size: 24px;
}



/* .preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #018ABE;
    z-index: 2;
}

  
.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}
  
.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: white;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
} */

@media (max-width: 1300px){
    .container{
        max-width: 1090px;
    }
}

@media (max-width: 1140px){
    .container{
        max-width: 950px;
    }

    .seans-ritmstyle-grid {
       
        height: 300px;
    }
    .snip1584:nth-of-type(3), .snip1584:nth-of-type(4) h5 {
       font-size: 12px;
    }
    .snip1584:nth-of-type(4) h3 {
        font-size: 16px;
    }

    .about-text  {
        max-width: 350px;
        padding: 0 30px;
     }
} 

@media (max-width: 1000px){
    .container{
        max-width: 800px;
    }


    .logo img{
        max-width: 50px;

    }

    .snip1584 p {
        font-size: 18px;
        bottom: 20px;
    }

    .snip1584 h3 {
       display: none;
    }

    .snip1584:nth-of-type(2) h5 {
       font-size: 14px;
    }

    .hamburger {
        display: block;
        width: 40px;
        height: 28px;
        position: relative;
        cursor: pointer;
        display: inline-block;
        z-index: 100;
      }
      .hamburger span {
        background: #fff;
        display: block;
        position: absolute;
        height: 2px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
        -moz-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
        -o-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
        transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
        opacity: 1;
        width: 100%;
        left: 0;
      }
      .hamburger span:nth-child(1) {
        top: 0px;
      }
      .hamburger span:nth-child(2) {
        top: 12px;
      }
      .hamburger span:nth-child(3) {
        top: 24px;
      }
      .hamburger.open span:nth-child(1) {
        top: 12px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      .hamburger.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
      }
      .hamburger.open span:nth-child(3) {
        top: 12px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
      .menu-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgb(1,138,190);
        background: linear-gradient(180deg, rgba(1,138,190,1) 34%, rgba(198,251,255,1) 100%);
        opacity: 0;
        visibility: visible;
        z-index: -99;
        text-align: center;
        display: table;
        -webkit-transition: visibility 0.5s ease, opacity 1s ease;
        -moz-transition: visibility 0.5s ease, opacity 1s ease;
        -o-transition: visibility 0.5s ease, opacity 1s ease;
        transition: visibility 0.5s ease, opacity 1s ease;
      }
      .menu-overlay.open {
        /* display: table; */
        /* z-index: 99; */
        position: fixed;
        opacity: 1;
        visibility: visible;
      }

      .open .nav {
        display: table-cell;
        vertical-align: middle;
      }
      .nav li {
        margin: 20px 0;
        -moz-transform: translateY(-40px);
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
        opacity: 0;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }

      .open .nav_li{
        margin: 20px 40px;
    }
      .open .nav li {
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
      }
      .open .nav li:nth-child(1) {
        -webkit-transition-delay: 100ms;
        transition-delay: 100ms;
      }
      .open .nav li:nth-child(2) {
        -webkit-transition-delay: 200ms;
        transition-delay: 200ms;
      }
      .open .nav li:nth-child(3) {
        -webkit-transition-delay: 300ms;
        transition-delay: 300ms;
      }
      .open .nav li:nth-child(4) {
        -webkit-transition-delay: 400ms;
        transition-delay: 400ms;
      }
      .open .nav li:nth-child(5) {
        -webkit-transition-delay: 500ms;
        transition-delay: 500ms;
      }
      .open .nav li:nth-child(6) {
        -webkit-transition-delay: 600ms;
        transition-delay: 600ms;
      }
      .open .nav li:nth-child(7) {
        -webkit-transition-delay: 700ms;
        transition-delay: 700ms;
      }
      .open .nav li:nth-child(8) {
        -webkit-transition-delay: 800ms;
        transition-delay: 800ms;
      }
      .nav a {
        /* display: block; */
        color: #fff;
        font-size: 32px;
        text-decoration: none;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      .nav a:hover{
        opacity: 0.6;
      }

      .comment {
        width: 636px;
        max-height: 350px;
        background: #018ABE;
        padding: 20px 15px;
        border-radius: 10px;
        margin: 0px 50px;
    }

    .comment > h6 {
        padding-bottom: 10px;
    }

    .about-flex:first-of-type {
        margin-bottom: 60px;
    }

    .about-pictures img{
        max-width: 95%;
    }



    .about-text  {
       max-width: 350px;
       padding: 0 30px;
    }

    .price-list {
        width: 300px;
        padding-right: 30px;
    }
    
    .price-pict{
        /* max-width: 400px; */
        text-align: center;
    }
    .price-pict img{
        max-width: 80%;
    }

    .comment {
        margin: 0px 20px;
    }
    
}

@media (max-width: 850px){
    .container{
        max-width: 580px;
    }

    .main-photo {
        padding: 100px 0;
    }
    .seans-ritmstyle-grid {
        height: 250px;
    }
    
    .snip1584 p {
        font-size: 14px;
        bottom: 20px;
        left: 10px;
    }

    .snip1584 div:last-child{
        display: none;
    }
    .snip1584::before{
        display: none;
    }
    .snip1584:hover p{
        opacity: 1;
    }
    .inform-background {
        height: 450px;
    }

    .about-text {
        max-width: 250px;
        font-size: 14px
    }

    .about-flex:first-of-type {
        margin-bottom: 40px;
    }

    .price-list_elem {
       font-size: 14px;
    }

    .price-pict_text {
        font-size: 16px;
    }

    .inform-text {
        max-width: 500px;
    }

    
}
@media (max-width: 620px){
    .container{
        max-width: 420px;
    }

    .button-cont{
        display: none;
    }

    .heading-text {
        font-size: 36px;
        padding: 60px 0;
    }
    .inform-text {
        padding: 20px;
        max-width: 350px;
    }

    .inform-background {
        height: 500px;
    }

    .about-text {
        height: 160px;
        max-width: 180px;
        overflow: scroll;
    }

    .heading-text::before {
        margin-right: 20px;
    }
    .heading-text::after {
        margin-left: 20px;
    }

    .price-list_elem:not(:last-of-type) {
        margin-bottom: 15px;
    }

    .price {
       flex-direction: column;
    }

    .price-list {
        padding-right: 0px;
        max-width: 100%;
    }

    .price-pict {
        margin-top: 30px;
    }
}

@media (max-width: 470px){
    .container{
        max-width: 290px;
    }

    .main-photo_h1 {
        font-size: 48px;
    }

    .heading-text {
        font-size: 32px;
        padding: 40px 0;
    }
    .heading-text::before {
        margin-right: 5px;
    }
    .heading-text::after {
        margin-left: 5px;
    }

    .seans-ritmstyle-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 300px;
    }

    .snip1584 p {
        font-size: 12px;
        bottom: 5px;
        left: 10px;
    }

    .inform-text {
        font-size: 14px;
    }

    .about-text_title {
        font-size: 18px;
        padding-bottom: 10px;
    }

    .about-text {
        height: 140px;
        max-width: 140px;
        padding: 0 10px;
    }

    .about-section .heading-text, .price-section .heading-text, .seans-section .heading-text{
        font-size: 22px;
    }
}





  
